<!DOCTYPE html>
<html>

<head>
    <title>HackaToons IOT Platform</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <div class="card p-5 mx-auto card1">
            <div class="heading">
                <h2>REGISTER</h2>

            </div>
            <hr />
            <form novalidate class="needs-validation" action="#" method = "post">
                <div class="mb-3">
                    <label for="InputName" class="form-label">Name</label>
                    <input name="username" type="text" class="form-control" id="InputName" aria-describedby="name" required>
                </div>
                <div class="mb-3">
                    <label for="InputRole" class="form-label">Role</label>
                    <input name="role" type="text" class="form-control" id="InputRole" aria-describedby="role" required>
                </div>
                <div class="mb-3">
                    <label for="InputMobileNumber" class="form-label">Mobile Number</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">+91</span>
                        <input name="phone_no" type="text" class="form-control" id="InputMobileNumber" aria-describedby="mobileNumebr"
                            required>
                        <div class="invalid-feedback">
                            Please choose a username.
                        </div>
                    </div>

                </div>
                <div class="mb-3">
                    <label for="InputEmail1" class="form-label">Email address</label>
                    <input name="email" type="email" class="form-control" id="InputEmail1" aria-describedby="email" required>
                </div>
                <div class="mb-3">
                    <label for="InputPassword1" class="form-label">Password</label>

                    <input name="password" type="password" class="form-control" id="InputPassword1" required>



                </div>
                <button type="submit" class="btn">Register</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

</body>

</html>